.footer {
  background-color: #14202d;
  padding: 22px 0;
  text-align: center;
  color: #fff;
  font-family: "Lato";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}
